@use "./colors.scss";
@use "./fonts.scss";
@use "./spaces.scss";

button,
.button {
  border-radius: 50px;
  border: none;
  padding: 10px 20px;
  color: colors.$almostWhite;
  font-weight: fonts.$bold;
  cursor: pointer;

  &.disabled {
    padding: 20px 20px;
  }

  // button with no icon
  &.no-icon {
    padding: 20px 25px;
  }

  // input buttons
  &.input-btn {
    background-color: transparent;
    border: 2px solid colors.$silver;
    color: colors.$silver;
    padding: 15px 20px;
    border-radius: 10px;

    &.is-active {
      border: 2px solid colors.$darkGreen;
      color: colors.$almostWhite;
      background-color: colors.$darkGreen;
    }

    &:hover {
      border: 2px solid colors.$darkGreen;
      color: colors.$almostWhite;
      background-color: colors.$darkGreen;
    }
  }

  // primary button
  &.primary {
    transition: all 0.2s ease-in-out;
    background-color: colors.$btn-pink;

    &:hover {
      transition: all 0.2s ease-in-out;
      background-color: colors.$btn-pink-hover;
    }
  }

  // secondary button
  &.secondary {
    transition: all 0.2s ease-in-out;
    background-color: colors.$btn-darkGreen;

    &:hover {
      transition: all 0.2s ease-in-out;
      background-color: colors.$btn-darkGreen-hover;
    }
  }

  // tertiary button
  &.tertiary {
    transition: all 0.2s ease-in-out;
    background-color: colors.$btn-green;

    &:hover {
      transition: all 0.2s ease-in-out;
      background-color: colors.$btn-green-hover;
    }
  }

  // content
  .content {
    display: flex;
    align-items: center;
    justify-content: center;

    figure {
      width: 40px;
      margin: 0;
      position: relative !important;

      &.disabled {
        display: none;
      }
    }

    label {
      display: table-cell;
      vertical-align: middle;
      font-size: fonts.$btn;
      padding-left: 10px;
      cursor: pointer;
    }
  }
}
