@use './colors.scss';
@use './fonts.scss';
@use './spaces.scss';

button {
  border-radius: 50px;
  border: none;
  padding: 10px 20px;
  color: colors.$almostWhite;
  font-weight: fonts.$bold;
  cursor: pointer;

  &.disabled{
    padding: 20px 20px; 
  }

  &.input-btn {
    background-color: transparent;
    border: 2px solid colors.$silver;
    color: colors.$silver;
    padding: 20px 30px;

  &.is-active {
    border: 2px solid colors.$darkGreen;
    color: colors.$darkGreen;
  }

    &:hover {
      border: 2px solid colors.$darkGreen;
      color: colors.$darkGreen;
    }
  }

  &.primary {
    transition: all .2s ease-in-out;
    background-color: colors.$btn-pink;
  }
    
  &.secondary {
    transition: all .2s ease-in-out;
    background-color: colors.$btn-darkGreen;
  }

  &.tertiary {
    transition: all .2s ease-in-out;
    background-color: colors.$btn-green;
  }
    
  &.sm {


    figure {
      width: 30px;
    }

    label {
      font-size: fonts.$btn-sm;
    }
  }
  

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  figure {
    width: 40px;
    margin: 0;
    position: relative !important;

    &.disabled{
      display: none;
    }
  }

  label {
    display: table-cell;
    vertical-align: middle;
    font-size: fonts.$btn;
    padding-left: 10px;
    cursor: pointer;
  }
}

button:hover {
  &.primary {
    transition: all .2s ease-in-out;
    background-color: colors.$btn-pink-hover;
  }
    
  &.secondary {
    transition: all .2s ease-in-out;
    background-color: colors.$btn-darkGreen-hover;
  }
    
  &.tertiary {
    transition: all .2s ease-in-out;
    background-color: colors.$btn-green-hover;
  }
}


