// font colors
$primary: #2b472f;
$secondary: #202220;
$silver: #b9b9b9;
$almostWhite: #f5f5f6;
$almostWhite-opacity: #f5f5f6cc;
$white: #ffffff;
$lightPink: #fceee2;
$pink: #ec7265;
$green: #55be71;
$darkGreen: #3f6344;
$darkGreen-opacity: #556958c0;

// hover
$darkGreen-hover: #3b493d;

// background colors
$bg-primary: #f5f5f6;
$bg-secondary: #f5f5f1;
$bg-tertiary: #556958;
$bg-pink: #fceee2;

// button colors 
$btn-pink: #ec9085;
$btn-pink-hover: #e48073;
$btn-green: #55be71;
$btn-green-hover: #43ac5f;
$btn-darkGreen: #3f6344;
$btn-darkGreen-hover: #2e5233;

