// font colors
$primary: #2b2c3d;
$secondary: #727585;
$silver: #dddee2;
$almostWhite: #f5f5f6;
$white: #ffffff;

// background colors
$bg-primary: #f5f5f6;
$bg-secondry: #f5f3f1;
$bg-tertiary: #556958;

