// font colors
$primary: #2b472f;
$secondary: #202220;
$silver: #a7a7a7;
$almostWhite: #ffffff;
$almostWhite-opacity: #f5f5f6cc;
$lightPink: #fceee2;
$pink: #eb6e60;
$green: #3fa65b;
$darkGreen: #3f6344;
$darkGreen-darker: #314234;

//opacity
$darkGreen-opacity: #556958c0;

// hover
$darkGreen-hover: #3b493d;

// background colors
$bg-primary: #ffffff;
$bg-secondary: #f5f5f1;
$bg-tertiary: #3f6344;
$bg-sponsors: #e9e9e3;
$bg-pink: #fceee2;

// button colors
$btn-pink: #eb6e60;
$btn-pink-hover: #cf5c4f;
$btn-green: #2faa50;
$btn-green-hover: rgb(55, 155, 82);
$btn-darkGreen: #3f6344;
$btn-darkGreen-hover: #2e5233;
