@use "./fonts.scss";
@use "./colors.scss";
@use "./spaces.scss";

form {
  margin: 0;
  padding: 0;
  margin-bottom: spaces.$md !important;

  .input-content {
    label {
      display: block;
      font-weight: fonts.$bold;
      font-size: fonts.$sm;
      max-width: 400px;
      margin-bottom: spaces.$extraSm;
    }
  }
}

label {
  font-weight: fonts.$bold;
  font-size: fonts.$sm;
}

.input {
  width: 100%;
  padding: 20px;
  height: 50px;
  margin-bottom: spaces.$sm;
  border: 2px solid colors.$silver;
  border-radius: 10px;

  &:focus {
    outline-color: colors.$pink;
  }

  &.md {
    height: 100px;
  }

  &.lg {
    height: 150px;
  }
}

.checkbox-content {
  margin-bottom: spaces.$md;
}

.radio-button-input {
  margin-bottom: spaces.$sm;
}

//checkbox
.checkbox-content,
.radio-button-content {
  display: grid;
  grid-template-columns: 40px auto;
  height: auto;

  label {
    display: inline-block;
    position: relative;
    top: 14px;
    margin-right: 10px;
    width: 80px;
    font-weight: fonts.$normal;
    font-size: fonts.$paragraph;

    &.sm {
      width: 100%;
      max-width: 100%;
      font-size: fonts.$sm;
    }
  }

  .checkbox,
  .radio-button {
    width: 30px;
    margin-right: 10px;
    accent-color: colors.$pink;
  }
}

.donation-form {
  max-width: 600px;
  margin: 0 auto;

  .button {
    display: block;
    margin: 0 auto;
    margin-top: spaces.$sm;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
  }

  .input-button {
    width: 90%;
    max-width: 150px;
    background-color: transparent;
    border: 2px solid colors.$silver;
    color: colors.$silver;
    padding: 20px;
    font-weight: fonts.$bold;
    text-align: center;
    border-radius: 5px;

    &.sm {
      width: 100px;
    }

    &:focus,
    &.is-active {
      outline-color: colors.$pink;
      color: colors.$pink;
      border-color: colors.$pink;
    }
  }

  p {
    display: inline-block;
  }
}
