form {
  margin: 0!important;
  padding: 0 !important;
}

input {
    border-radius: 50px;
    padding: 20px 30px;
    width: 120px;
    background-color: transparent;
    border: 2px solid colors.$silver;
    color: colors.$darkGreen;
    font-weight: fonts.$bold;
    cursor: pointer;
    text-align: center;

    &:focus {
      outline-color: colors.$darkGreen;
    }
}
