// navbar
.navbar {
  height: 100px;

  .extra-links {
    display: inline-block;
  }

  li {
    margin-right: 40px;
    display: inline-block;
    color: colors.$darkGreen;

    &:hover {
      color: colors.$darkGreen-hover;
    }

    figure {
      width: 10px;
      display: inline-block;
      margin-left: 8px;
    }
  }
}

.navbar-btn {
  width: 40px;
  height: 50px;
  cursor: pointer;
  transition: 850ms;
  display: inline-block;
  position: relative;
  margin-left: 40px;
  top: 20px;
}

.navbar-burger {
  width: 30px;
  height: 4px;
  background-color: colors.$darkGreen;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
  position: relative;
  top: 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: colors.$darkGreen;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }

  &::before {
    transform: translateY(-7.5px);
  }

  &::after {
    transform: translateY(7.5px);
  }
}

// sidebar
.sidebar {
  height: 100%;
  opacity: 0;
  position: relative;
  top: 100px;
  padding: 0 50px;

  &.open {
    opacity: 1;
    -webkit-transition: opacity 0.3s 0.3s;
    transition: opacity 0.3s 0.3s;
  }

  a {
    color: colors.$almostWhite;
    text-decoration: none;

    &:hover {
      color: colors.$almostWhite;
    }
  }

  ul {
    padding: 0;
  }

  .links {
    li {
      margin: 20px 0;
      font-size: fonts.$sidebar-link;
      display: block;
      transition: all 0.1s ease-in-out;
      font-weight: fonts.$normal;

      &:hover {
        transition: all 0.1s ease-in-out;
        font-weight: fonts.$bold;
      }
    }
  }

  .sublinks {
    li {
      font-size: fonts.$sidebar-sublink;
      font-weight: fonts.$normal;
      margin: 5px 0;
      padding: 0;
      display: block;
      transition: all 0.1s ease-in-out;

      &:hover {
        transition: all 0.1s ease-in-out;
        font-weight: fonts.$bold;
      }
    }
  }
}

.sidebar-wrap {
  position: fixed;
  z-index: 9;
  background-color: colors.$bg-tertiary;
  opacity: 0;
  width: 0;
  height: 100vh;
  font-size: 1.5em;
  top: 0px;
  right: 0px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;

  &.open {
    width: 400px;
    height: 100vh;
    opacity: 1;
    box-shadow: 0 0 0 10000px rgba(255, 255, 255, 0.3);
  }
}

.sidebar-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 850ms;
  position: absolute;
  right: spaces.$md;
  top: spaces.$lg;
  display: none;
}

.sidebar-btn.is-active {
  display: inline-block;
}

.sidebar-burger {
  width: 30px;
  height: 4px;
  background-color: colors.$almostWhite;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: colors.$almostWhite;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }

  &::before {
    transform: translateY(-7.5px);
  }

  &::after {
    transform: translateY(7.5px);
  }
}

// transform burger into close icon
.sidebar-btn.is-active .sidebar-burger {
  background: transparent;
}

.sidebar-btn.is-active .sidebar-burger::before {
  transform: rotate(-135deg);
  background: #fff;
}

.sidebar-btn.is-active .sidebar-burger::after {
  transform: rotate(135deg);
  background: #fff;
}
