@use './styles/colors.scss';
@use './styles/fonts.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// text
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

h6 {
  font-weight: fonts.$bold;
}

h6, p {
  font-size: 1rem;
}

// navbar 
.navbar {
  height: 60px;
}


// footer 
.footer {
  position: absolute;
  bottom: 0;
  background-color: colors.$bg-tertiary;
  color: colors.$almostWhite;
}


