@use "./styles/colors.scss";
@use "./styles/fonts.scss";
@use "./styles/spaces.scss";
@import "./styles/fonts.scss";
@import "./styles/buttons.scss";
@import "./styles/navigation.scss";
@import "./styles/forms.scss";

body {
  font-family: "Poppins", sans-serif, "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container-fluid {
  padding: spaces.$wrap-padding !important;
}

// images
img {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 !important;
}

.dog-img {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }
}

// links
a {
  color: colors.$pink;
  text-decoration: none;
  font-weight: fonts.$bold;
  margin: 0 auto;

  &:focus {
    color: colors.$pink;
  }

  &:hover {
    color: colors.$pink;
  }
}

.link {
  width: max-content;
  margin: 0 auto;
  margin-top: spaces.$lg;
  border-bottom: 2px solid transparent;
  color: colors.$pink;
  cursor: pointer;

  &:hover {
    border-bottom: 2px solid colors.$pink;
  }
}

// icons
.social-icons {
  figure {
    display: inline-block;
    margin-right: 10px;

    img {
      width: 70%;
    }
  }
}

//header
.header {
  height: 600px;
  position: relative;

  h1 {
    color: colors.$darkGreen-darker;
  }

  .content {
    max-width: 500px;
    z-index: 2;
  }

  .image {
    position: absolute;
    width: 65%;
    max-width: 750px;
    min-width: 400px;
    right: spaces.$wrap-padding;
    bottom: spaces.$wrap-padding;
  }
}

// intro
.intro {
  background-color: colors.$bg-pink;

  figure {
    max-width: 250px;
    padding-left: spaces.$lg;
    margin: 0 auto;
  }

  @media screen and (max-width: 768px) {
    figure {
      padding-top: spaces.$md;
    }
  }
}

// adoption process
.adoption-process {
  position: relative;

  button {
    margin-left: spaces.$extraLg;
  }

  @media screen and (max-width: 992px) {
    .img-col {
      display: none;
    }
  }

  .adoption-process-content {
    margin: spaces.$md 0px;
  }

  .border {
    border-color: colors.$darkGreen !important;
    margin-bottom: spaces.$extraSm;
    display: none;

    &.is-active {
      display: block;
    }
  }

  .row {
    position: relative;

    .drop img {
      top: 8px;
    }
  }

  .drop img {
    width: 60px;
    z-index: -10;
    position: absolute;
    display: none;
    left: 20px;

    &.is-active {
      display: block;
    }
  }

  .adoption-process-step {
    cursor: pointer;

    &.one:hover h3,
    h4 {
      transition: all 0.1s ease-in-out;
      color: colors.$darkGreen-hover;
    }

    &.one:hover h3.is-active,
    &.two:hover h3.is-active,
    &.three:hover h3.is-active {
      color: colors.$almostWhite;
    }

    &.one:hover h3,
    &.one:hover h4,
    &.two:hover h3,
    &.two:hover h4,
    &.three:hover h3,
    &.three:hover h4 {
      transition: all 0.1s ease-in-out;
      color: colors.$darkGreen-hover;
    }

    h3 {
      margin-right: spaces.$md;
      color: colors.$darkGreen-opacity;
      transition: all 0.2s ease-in-out;

      &.is-active {
        color: colors.$almostWhite;
      }
    }

    h4 {
      color: colors.$darkGreen-opacity;
      font-weight: fonts.$bold;
      transition: all 0.2s ease-in-out;

      &.is-active {
        color: colors.$darkGreen !important;
      }
    }

    h3,
    .title {
      position: relative;
      left: spaces.$md;
      display: inline-block;
    }

    p {
      position: relative;
      margin-left: 82px;
      display: none;

      &.is-active {
        display: block;
      }
    }
  }
}

// homeless dogs
.homeless-dogs {
  background-color: colors.$bg-secondary;

  img {
    width: 90%;
  }

  button {
    margin-bottom: spaces.$extraLg;
  }

  .first-row {
    margin-bottom: spaces.$extraLg;
  }

  h3 {
    margin-bottom: spaces.$sm;
  }

  p {
    margin-bottom: spaces.$md;
  }
}

//monthly donor
.monthly-donor {
  text-align: center;

  .donation-form {
    h6 {
      text-align: left;
      color: colors.$green;
    }

    h5{
      text-align: left;
      margin-bottom: spaces.$sm;
    }
  }

  .info {
    text-align: left;
  }

  input {
    margin: spaces.$extraSm;
  }

}

// sponsors
.sponsors {
  background-color: colors.$bg-secondary;

  h3 {
    text-align: center;
  }

  figure {
    text-align: center;
    padding: 20px;

    img {
      max-width: 100px;
    }
  }
}

// footer
.footer {
  background-color: colors.$bg-tertiary;
  color: colors.$almostWhite;

  h5 {
    font-weight: fonts.$bold;
    margin-bottom: spaces.$sm;
  }

  p {
    font-size: fonts.$sm;
  }

  .copyright {
    p {
      color: colors.$almostWhite-opacity;
      text-align: center;
      position: relative;
      width: 100%;
    }
  }
}

//available-dogs
.available-dogs,
.matched-dogs {
  .prewords {
    background-color: colors.$bg-secondary;

    h3 {
      color: colors.$primary;
    }

    h5 {
      margin-top: spaces.$lg;
      color: colors.$primary;
      font-weight: fonts.$bold;
    }

    p {
      margin-bottom: spaces.$md;
    }
  }

  .dogs {
    .title {
      text-align: center;
      margin-bottom: spaces.$lg;
      color: colors.$primary;
    }
  }

  .dog {
    margin-bottom: spaces.$extraLg;

    h3 {
      color: colors.$secondary;
    }

    h3,
    h5 {
      color: colors.$primary;
    }

    h5 {
      font-weight: fonts.$bold;
    }

    h5 span,
    h6 span {
      font-weight: fonts.$normal;
      font-size: fonts.$paragraph;
      color: colors.$secondary !important;
      margin-left: 2px;
    }

    h6 {
      margin-bottom: spaces.$sm;
    }

    .read-more {
      color: colors.$pink;
    }
  }
}

// selected dog
.selected-dog {
  .grid-container {
    display: grid;
    grid-template-columns: 30px auto;
  }

  .grid-item figure {
    margin-top: spaces.$extraSm;
  }

  .grid-item.md {
    margin-left: spaces.$sm;
  }

  .grid-container-images {
    display: grid;
    grid-template-columns: 49% 49%;

    .grid-item-image {
      margin-right: spaces.$sm;
      margin-bottom: spaces.$sm;
    }
  }
}

// pages
.about-adoption,
.our-business,
.selected-dog,
.find-match,
.registration-of-interest,
.monthly-donor {
  .border {
    border-color: colors.$primary !important;
    margin: spaces.$extraSm 0 spaces.$md 0;
  }

  .dog-header {
    background-color: colors.$bg-secondary;
    height: 100%;
    width: 100%;

    .col-lg-6 {
      padding: 0;
    }
  }

  .row {
    margin: 0;
    padding: 0;
  }

  h3,
  h5,
  h4 {
    color: colors.$primary;
    font-weight: fonts.$bold;
  }

  p {
    margin-bottom: spaces.$md;
  }

  p span {
    font-weight: fonts.$bold;
    color: colors.$primary;
  }

  .pink {
    color: colors.$pink;
    border-bottom: 2px solid transparent;
    font-weight: fonts.$bold;
    cursor: pointer;
    
    &:hover {
      border-bottom: 2px solid colors.$pink;
    }
  }
}

// about adoption
.about-adoption {
  .question span {
    color: colors.$pink;
  }

  .question.mb {
    margin-bottom: spaces.$sm !important;
  }
}

// find match
.find-match {
  .option {
    margin: 0;
    padding: 0;
    min-width: 200px;

    button {
      width: Calc(100% - spaces.$md);
    }
  }

  h5,
  h2,
  .description {
    text-align: center;
  }

  button {
    margin-right: spaces.$md !important;
  }

  p {
    margin-bottom: 0;
  }

  h6 {
    font-weight: fonts.$normal !important;
  }

  h2 {
    font-weight: fonts.$bold;
    margin-bottom: spaces.$md;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: spaces.$extraSm 0 spaces.$lg 0;
  }

  .row.kids {
    display: none;
  }

  .row.kids.is-active {
    display: block;
  }

  .description {
    max-width: 700px;
    margin: 0 auto;
  }
}


// regsitration of interest 
.registration-of-interest {
  .registration-of-interest-form {
    background-color: colors.$bg-primary;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 48% 4% 48%;
  }
}